<form method="POST" action="/cadEvent">
    <div>
        <label>Localidade</label><br>
        <input type="text" name="localidade"/>
    </div>
    <div>
        <label>Modalidade</label><br>
        <input type="text" name="modalidade"/>
    </div>
    <div>
        <label>Data de início</label><br>
        <input type="text" name="datainicio"/><br>
    </div>
    <div>
        <label>Data final</label><br>
        <input type="text" name="datafinal"/><br>
    </div>
    <input type="hidden" name="state" value="null"/>
    <div>
        <label>Id organizador</label><br>
        <input type="text" name="id_org"/>
    </div>
    <br>
    <button>CADASTRAR</button>
</form>