<form method="POST" action="/cadall">
    <div>
        <label>CPF do usuário</label><br>
        <input type="text" name="cpf"/>
    </div>
    <div>
        <label>Senha</label><br>
        <input type="password" name="senha"/>
    </div>
    <div>
        <label>Confirmar senha</label><br>
        <input type="password" name="senhaconfir"/>
    </div>
    <hr>
    <div>
        <label>Nome</label><br>
        <input type="nome" name="nome"/><br>
    </div>
    <div>
        <label>Telefone</label><br>
        <input type="telefone" name="telefone"/>
    </div>
    <div>
        <label>Logradouro</label><br>
        <input type="logradouro" name="logradouro"/>
    </div>
    <div>
        <label>Numero</label><br>
        <input type="numero" name="numero"/>
    </div>
    <div>
        <label>Bairro</label><br>
        <input type="bairro" name="bairro"/>
    </div>
    <div>
        <label>Complemento</label><br>
        <input type="complemento" name="complemento"/><br>
    </div>
    <div>
        <label>Cidade</label><br>
        <input type="cidade" name="cidade"/><br>
    </div>
    <div>
        <label>Estado</label><br>
        <input type="estado" name="estado"/><br>
    </div><br>
    <button>CADASTRAR</button>
</form>